# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
*.pyc
*.sqlite3
*.db

# Environment
.env
.env.*

# VS Code
.vscode/

# Migrations
**/migrations/*
!**/migrations/__init__.py

# Media and static files
/media/
/static/

# OS
.DS_Store
Thumbs.db

# Test and coverage
htmlcov/
.coverage
.tox/
.pytest_cache/

# Postman collections
*.postman_collection.json

# Others
*.bak
*.swp
*.swo
*.tmp
